# Archivos compilados de Python
__pycache__/
*.py[cod]

# Entornos virtuales
.env/
.venv/
env/
venv/

# Notebooks: checkpoints
.ipynb_checkpoints/

# Archivos de Jupyter y configuración
*.ipynb_checkpoints

# Archivos temporales / sistema
.DS_Store
Thumbs.db

# Datos locales grandes (no subirlos al repo)
data/raw/
data/interim/

*./mi_proyecto_datos/local_db/raw/bank_list_MES.csv
*./mi_proyecto_datos/local_db/interim/indices/bank_list_MES-prices-monthly-1996_2026.parquet
*./mi_proyecto_datos/local_db/raw/SP_financial_index_1996-2025.csv
*./mi_proyecto_datos/local_db/interim/indices/sp_financial-monthly-1996_2026.parquet
*./mi_proyecto_datos/local_db/interim/chicago_fed/call_balance/call-reports-balance-sheets-Jan2026.dta
*./mi_proyecto_datos/local_db/interim/chicago_fed/call_income/call-reports-income-statements-Jan2026.dta
*./mi_proyecto_datos/local_db/processed/chicago_fed/Variables_MES_banco-trimestre1996.csv
*./mi_proyecto_datos/local_db/processed/indices_MES/sp_financial-monthly-1996_2026.csv
*./mi_proyecto_datos/local_db/processed/indices_MES/bank_list_MES-prices-monthly-1996_2026.csv
*./mi_proyecto_datos/local_db/processed/chicago_fed/Variables_MES_banco-trimestre1996.csv
*./mi_proyecto_datos/local_db/processed/chicago_fed/frb_sustituto.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/coef_MES_crisis.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/coef_MES_pos_crisis.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/coef_MES_pre_crisis.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/reg_MES_banco_anual.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/reg_MES_banco_tramo.csv
*./mi_proyecto_datos/local_db/processed/resultados_MES/tabla_MES_regresion_comparativa.csv
*./mi_proyecto_datos/local_db/raw/data_sectors.xlsx
*./mi_proyecto_datos/local_db/processed/variable_terciario_anual_1998_2024.csv



*.dta
*.parquet
