# Archivos compilados de Python
__pycache__/
*.py[cod]

# Entornos virtuales
.env/
.venv/
env/
venv/

# Notebooks: checkpoints
.ipynb_checkpoints/

# Archivos de Jupyter y configuración
*.ipynb_checkpoints

# Archivos temporales / sistema
.DS_Store
Thumbs.db

# Datos locales grandes (no subirlos al repo)
data/raw/
data/interim/

*.csv
*.dta
*.parquet